.preloader{
    height: 100vh;
    width: 100%;
   background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; 
    /* bottom: 0;
    left: 0;
    right: 0; */
    z-index: 65;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .texts-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive, Arial, Helvetica, sans-serif;
    gap: 15px;
    height: 60px;
    width: 400px;
    font-size: 30px;
    font-weight: 800;
    overflow: hidden;
    color: #fff;
}
.preloaderImg1{
    width: 120px;
}


@media (max-width: 1960px) {
    .texts-container {
        font-size:30px ;

    }
    
  }
@media (max-width: 1440px) {
    .texts-container {
        font-size:28px ;

    }
    
  }
  
  /* Large Devices (Laptops, 1024px and below) */
  @media (max-width: 1024px) {
    .texts-container {
    font-size:26px ;
    }
  }
  
  /* Medium Devices (Tablets, 768px and below) */
  @media (max-width: 768px) {   
    .texts-container {
    font-size: 24px;
    }
  
  }
  
  /* Small Devices (Large Phones, 600px and below) */
  @media (max-width: 600px) {
    .texts-container {
    font-size:22px ;

    }
  }
  
  /* Extra Small Devices (Phones, 480px and below) */
@media (max-width: 510px) {
.texts-container {
    font-size: 19px ;
    width: 75%;
    }
  }
  
  /* Very Small Devices (Phones, 360px and below) */
@media (max-width: 360px) {
.texts-container {
    font-size:17px ;
    width: 70%;
}
}
@media (max-width: 200px) {
    .texts-container {
        font-size:10px ;
        
    }
  }